<div class="container">
  <div *ngIf="status">
    <h2>Food Menu</h2>
    <ul class="heroes">
      <li *ngFor="let menu of menues">
        <button
          type="button"
          [class.selected]="menu === selectedMenu"
          (click)="onSelect(menu)"
        >
          <span class="badge">{{ menu.id }}</span>
          <span class="name">{{ menu.name }}</span>
        </button>
      </li>
    </ul>
  </div>
  <app-menu-ind [menuesnew]="menunew" [Foodname]="Foodname"></app-menu-ind>
</div>
