<input
  type="text"
  id="search"
  class="form-control"
  placeholder="Search Text"
  [(ngModel)]="searchText"
/>
<ul>
  <li
    class="d-flex my-3 py-3 px-3"
    *ngFor="let food of Foodnew | filter: searchText; let i = index"
  >
    {{ food }}<button class="btn btn-outline-danger">delete</button>
  </li>
</ul>

<table class="tableclass">
  <tr style="font-weight:bold">
    <td>Food name</td>
    <td>Food Type</td>
    <td>Quantity Consumed</td>

    <td>Calories</td>
    <td>Action</td>
  </tr>
  <tr
    *ngFor="
      let food of Foodlist | filter: food.foodname:searchText:food.Foodname;
      let i = index
    "
  >
    <td>{{ food.Foodname }}</td>
    <td>{{ food.FoodType }}</td>
    <td>{{ food.quantity }}</td>
    <td>{{ food.calorie }}</td>
    <td>
      <button class="btn btn-outline-danger" (click)="Remove(i)">delete</button>
    </td>
  </tr>
</table>
<!-- <div class="card-body">
  Total Calories Consumed <label>{{ resultnew }}</label>
</div> -->
